@import reset.css;

body {
	background-color: black;
	background-image: url("../images/loneliest_road.webp");
	background-size: cover;
}

.hero {
	height: 100vh;
}

h1 {
	color: white;
	text-align: center;
	line-height: 100vh;
	font-size: 24px;
}
