/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/***********
my defaults
***********/

.ralign {
	text-align: right;
}

/**********************
Make things look pretty
**********************/

body {
	background-color: black;
}

/******
header
******/

header {
	height: 15vh;
	background-color: green;
}

.nav {
	font-size: 24px;

	height: 15vh;
	padding-top: 12.1vh;
}

.nav a {
	color: black;
	padding-left: 4px;
	padding-right: 4px;
}

.nav a:hover {
	background-color: blue;
}

.logo {
	float: left;

	font-size: 72px;
	padding: 28px;

	border-style: solid;
}

/****
blog
****/

section {
	background-color: red;
	height: 70vh;
	width: 60vw;

	margin-left: 20vw;
}

section p {
	margin-bottom: 10px;
}

.disclaimer {
	font-style: italic;
}

/******
footer
******/

footer {
	height: 15vh;
	background-color: green;
}

.contact-info {
	float: middle;
}

/****************
hero splash page
****************/

#splash {
	position: absolute;
	top: 0;
	left: 0;

/*	height: 100vh;
	width: 100vw;*/
}

.zero {
	background-image: url("../images/loneliest_road.webp");
	background-size: cover;

	height: 100vh;
    width: 100vw;

    margin: 0;
}

.hero {
    display: none;
}
.button {
	position: absolute;
	top: 50vh;
	left: 47.5vw;

	height: 2em;
	width: 150px;

	border-width: 2px;
	border-style: solid;
	border-color: white;
	border-radius: 10px;

	color: white;
	text-align: center;
	padding-top: 0.75em;
	font-size: 24px;
}

.button:hover {
	border-color: hsl(270, 50%, 38%);
	color: hsl(270, 50%, 38%);
	background-color: hsl(300, 5%, 95%);
}

.negative:hover {
	border-color: hsl(0, 50%, 38%);
	color: hsl(0, 50%, 38%);
	background-color: hsl(30, 5%, 95%);
}
