<footer>
    <span>Copyright 2019&copy; Snakard Group Inc</span>
    <div class="contact-info">Email: robert.snakard@gmail.com<br>Phone: 703-994-3635</div>
    <nav class="ralign">home scs games 1q</nav>
</footer>

