<header>
    <a href="index.html"><span class="logo">Snakard</span></a>
    <nav class="nav ralign">
        <a href="scs.html">scs</a><!--
        --><a href="games.html">games</a><!--
        --><a href="oneq.us">1Q</a><!--
        --><a href="https://github.com/robert-snakard/website/">source</a>
    </nav>
</header>
