<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- hack until I fix the CSS. Then time to learn PostCSS -->
    <link rel="stylesheet" href="./css/{{css}}">
    <title>{{ title }}</title>
  </head>
  <body>
    <div id='wrapper'><!--
    -->{% include "partials/header.njk" %}
    {{ contents | safe }}
    {% include "partials/footer.njk" %}<!--
    --></div>
  </body>
</html>
