/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/***********
my defaults
***********/

.ralign {
	text-align: right;
    margin-right: 20px;
}

@font-face {
    font-family: 'Dauphin';
    src: url('./Dauphin.ttf');
}

/*******************
 * Base
 *****************/

html {
    height: 100%;
}

body {
  margin: 0;
  padding: 0;
  background-color: #e6f4ef;
  background: linear-gradient(to right,  #e6f4ef, #678b41, #e6f4ef);
  height: 100%;
  overflow: hidden;
}

#wrapper {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    height: calc(100% - 20px);
    width: 1000px;
    background-color: black;
}

@media (max-width: 1000px) {
    #wrapper {
        width: 87%;
    }
}

/***********
 * Header
 **********/

header {
    height: 150px;
    background-color: #3a3a3a;
}

.nav {
	font-size: 24px;

	height: 150px;
	padding-top: 120px;
}

.nav a {
	color: white;
	padding-left: 4px;
	padding-right: 4px;
}

.nav a:hover {
	background-color: blue;
}

.logo {
	float: left;

	font-size: 96px;
	padding: 28px;
	color: white;
    font-family: 'Dauphin', serif;

	border-style: solid;
}

/**********
 * Index
 *********/

#index, #scs, article{
    min-height: calc(100% - 250px);
    margin-left: auto;
    margin-right: auto;
    background-color: white;
}

#index p {
	margin-bottom: 10px;
}

.disclaimer {
	font-style: italic;
}

/******
footer
******/

footer {
    height: 100px;
    background-color: #3a3a3a;
    color: white;
}

.contact-info {
	float: middle;
}
