---
title: Robert Snakard
layout: base.njk
css: index.css

signature: Robert Snakard
---

<section id='index'>
  <p>This is Robert Snakard. Tall blond and comes with a smile he's quick with a joke and always a pleasure to be around. Robert Snakard has many skills. He is physically fit and quite active, you tell him to run and he'll say how far trust me I know, and he's sharp mentally too. He can learn whatever you need him to to make you successful.</p>
  <p class="disclaimer">Robert Snakard is an independent contractor, to extend an interest in Robert Snakard please contact him directly email and phone links are provided below. All discussion will occur through Robert Snakard, all payments will be made to Robert Snakard, and Robert Snakard assumes liability for all mistakes made. Thank you for your cooperation.<br>&emsp;-- {{ signature | toUpper }}</p>
<div class="blog_posts">
<article class='blog_post' id='post_1'><a href="20191020_tetris_1.html">
<h2>Making Tetris in Rust and Wasm (Part 1)</h2>
<p>Like everything in this too-much-information age it's often difficult to know where 
to start. There are so many tutorials out there that all start differently and teach 
you different things. Below I've listed some of the ones I read. We'll start at the very 
beginning, with a file.</p>
</a></article>
<br>
<article class='blog_post' id='post_2'><a href="20191024_tetris_2.html">
<h2>Making Tetris in Rust and Wasm (Part 2)</h2>
<p>Ah yes, everybody's favorite part. Configuring your build environment. There are so 
many shells to choose from, editors to choose from, editor themes to choose from. If 
you've done this before it's fun to pick and choose. If you're new, it's crap</p>
</a></article>
</div>
</section>
