---
title: Snakard's Courier Services
layout: base.njk
---

        <section>
            <h1>Our Message</h1>
            <br />
            <p id='message'>Snakard Courier Services is dedicated to delivering your package in the safest, most reliable way possible. Rain or shine there is no distance we won't go and best effort will always be given. All invoices will be itemized appropriately to include gas, parking, and other unfortunate facts of reality. Cost will then be decided based on inconvenience to us rather than distance travelled or time spent. Our portfolio is below if you wish to use precendent to estimate the cost to you. It is my guarantee that it's as fair and accurate as possible. Thank you for your time and I hope to work together in the future.  <br />&emsp;-- <span id='signature'>Robert Snakard</span>
            </p>
        </section>

        <section class="portfolio">
            <h2>Portfolio</h2>
            empty
        </section>
